@keyframes ld-flip-h {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.header {
  margin-bottom: 5rem;
}
.header .banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 70vh;
  max-height: 550px;
  min-width: 300px;
  color: #eee;
}
.header .banner:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%, rgb(27, 32, 48) 100%);
}
.header .banner:before {
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  top: -49px;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  scale: 1, 1;
  transform: translateZ(0);
  background: #1b2030 url("/assets/img/marvel-legacy-header.jpg") 50% -50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: grow 60s linear 10ms infinite;
  transition: all 0.4s ease-in-out;
  z-index: -2;
}
.header .banner .titulo {
  flex: 0 0 auto;
  width: 100%;
  padding-top: 15%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.header .banner .titulo h1 {
  flex-wrap: wrap-reverse;
  font-size: 100px;
}
.header .banner .titulo h1 .ada {
  border: 5px solid #ed1d23;
  background-color: #ed1d23;
}
.header .banner .titulo h1 .comics {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin-left: 20px;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.body .main {
  flex: 1 0 auto;
}
.body .footer-bg {
  background-color: black;
  color: #fff;
  padding-top: 20px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-size: cover;
  background-position: absolute;
}
.loader-container .thor {
  transform: translateZ(1px);
  width: 300px;
  height: 300px;
  margin: 8px;
  background: transparent;
  animation: ld-flip-h 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

body {
  margin: 0;
  background-size: 120%;
  background-position: center;
  font-family: "Barlow Condensed", sans-serif;
  animation: tighten-vinette ease-out 1800ms forwards;
}

.images {
  pointer-events: none;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 20;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  background-image: url("https://static.comicvine.com/uploads/original/11124/111240517/4986890-4700382785-29908.jpg");
}

.margen-derecho {
  margin-right: 10px;
}

.estilo-focus {
  width: auto;
}
.estilo-focus:focus {
  border-color: rgb(141, 140, 140);
  box-shadow: 0 0 0 0.2rem rgba(16, 15, 15, 0.25);
}

.margen-inferior-nav {
  margin-bottom: 4rem;
}

.box-btn-buscar {
  margin-left: 5px;
}
@media (max-width: 900px) {
  .box-btn-buscar {
    width: 100%;
    margin-left: 0;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pagination-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.pagination-button:disabled {
  color: #757575;
  border-color: #757575;
}

#section-comics {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5rem;
}
#section-comics .comic-portada {
  max-width: 22rem;
}
#section-comics .info-comic {
  margin-left: 1%;
}
@media (max-width: 900px) {
  #section-comics .info-comic {
    margin-top: 3rem;
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  #section-comics {
    flex-direction: column;
  }
}

.comic-cover {
  max-width: 350px;
  margin-right: 50px;
}

#section-personajes {
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5rem;
}
#section-personajes .retrato-personaje {
  max-width: 22rem;
}
#section-personajes .info-personaje {
  margin-left: 4%;
}
@media (max-width: 900px) {
  #section-personajes .info-personaje {
    margin-left: 0%;
    margin-top: 2rem;
  }
}
@media (max-width: 900px) {
  #section-personajes {
    flex-direction: column;
  }
}

.card-personaje {
  width: 180px;
  overflow: hidden;
}
.card-personaje .imagen {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.card-personaje .nombre-personaje {
  background-color: black;
  z-index: 1;
  height: 140px;
}
.card-personaje:hover .imagen {
  transform: scale(1.2);
  transition-duration: 0.6s;
}
.card-personaje:hover .nombre-personaje {
  background-color: #dc3545;
}

img {
  width: 100%;
  height: 100%;
}

.resultados-info {
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  min-height: 300px;
}

.comic {
  width: calc(20% - 20px);
  margin: 0 10px 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.comic:focus {
  outline: 0;
}
.comic:focus .comic-thumbnail {
  transform: translateY(-10px);
}
.comic:focus .comic-title {
  color: #ed1d23;
}
.comic:hover .comic-thumbnail {
  transform: translateY(-10px);
}
.comic:hover .comic-title {
  color: #ed1d23;
}
.comic .comic-title {
  font-size: 14px;
  transition: 0.2s;
  height: 64px;
  margin-top: 25px;
  font-weight: bold;
}

.comic-thumbnail {
  height: 100%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  transform: translateY(0);
  transition: 0.2s;
}

.comic-img-container {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
  position: relative;
}

.principal {
  background-color: #fff;
  color: #151515;
}
.principal .main {
  flex-grow: 1;
}

input:focus {
  outline-color: #ed1d23;
}

select:focus {
  outline-color: #ed1d23;
}

button:focus {
  outline-color: #ed1d23;
}
button:not(:disabled):hover {
  background-color: #ed1d23;
}

/*# sourceMappingURL=style.css.map */
