@import "./utilities/variables";
@import "./utilities/keyframes";
@import "./utilities/mixins";
@import "./layout/banner-header";
@import "./layout/footer";
@import "./layout/loader";
@import "./layout/logo";
@import "./layout/nav";
@import "./layout/paginator";
@import "./layout/responsive";
@import "./pages/section_comics";
@import "./pages/section-personajes";
@import "./pages/section-results";
@import "./components/cards";
@import "./themes/default";

* {
  box-sizing: border-box;
  position: relative;
}

.principal {
  background-color: $primary-color;
  color: #151515;
  .main {
    flex-grow: 1;
  }
}

input {
  &:focus {
    outline-color: $marvel-red;
  }
}
select {
  &:focus {
    outline-color: $marvel-red;
  }
}
button {
  &:focus {
    outline-color: $marvel-red;
  }
  &:not(:disabled) {
    &:hover {
      background-color: $marvel-red;
    }
  }
}
